@import '../utils/sizes';
@import '../utils/variables';
@import './typography';

html {
    font-size: $unit;
}

body {
    width: 100vw;
    height: 100vh;
    padding: $padding-big;
    color: $main-white;
    background-color: $main-dark-charcoal;

    main {
        width: calc(100% - 0.2rem);
        height: calc(100% - 0.2rem);
        border: 0.1rem solid $main-yellow-bright;
    }
}