@import '../../../../sass/main';

.slider {
  width: 100%;
  height: 60rem;
  display: flex;

  &__buttons {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 0;

    .button {
      width: 16rem;
      padding: $padding-big;
      font-family: $tertiary-font;
      font-size: 1.2rem;
      color: white;
      text-align: left;
      border-left: 0.1rem solid darkgrey;
      transition: all 250ms ease-in-out;

      &--active {
        background-color: rgba($main-yellow-bright, 0.1);
        border-left: 0.1rem solid $main-yellow-bright;
      }

      &:hover {
        cursor: pointer;
        color: $main-yellow-bright;
        background-color: rgba($main-yellow-bright, 0.1);
      }
    }
  }

  &__contents {
    min-width: 75%;
    height: 100%;
    padding: $padding-big;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    line-height: 2.2rem;
    transition: all 250ms ease-in-out;

    .title {
      font: $primary-font;
      font-size: 2rem;
      display: flex;
      color: white;

      span {
        margin-left: 1rem;
        color: $main-yellow-bright;
      }
    }

    .date {
      font-size: 1.6rem;
      font-family: $tertiary-font;
      color: darkgrey;
    }

    .list {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      &__element {
        font-family: $secondary-font;
        font-size: 1.6rem;
        color: darkgrey;
        list-style-type: circle;
        list-style-position: inside;

        &::marker {
          color: $main-yellow-bright;
        }
      }
    }
  }
}
