@import '../../../../sass/main';

.slider {
  width: 100%;
  height: 100%;
  min-height: 60rem;
  max-height: 60rem;
  display: flex;
  flex-direction: column;

  &__buttons {
    width: 100%;
    padding: $padding-xsmall 0;
    display: flex;
    gap: 0;
    overflow-y: hidden;

    .button {
      width: $size-default * 10;
      padding: $padding-big;
      font-family: $tertiary-font;
      font-size: $font-size-medium;
      color: $main-white;
      text-align: center;
      border-top: 0.1rem solid $main-grey;
      transition: all 250ms ease-in-out;

      &--active {
        background-color: rgba($main-yellow-bright, 0.1);
        border-top: 0.1rem solid $main-yellow-bright;
      }

      &:hover {
        cursor: pointer;
        color: $main-yellow-bright;
        background-color: rgba($main-yellow-bright, 0.1);
      }
    }
  }

  &__contents {
    width: 100%;
    height: 100%;
    padding: $padding-big 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: stretch;
    line-height: 2.2rem;
    transition: all 250ms ease-in-out;

    .title {
      width: 100%;
      padding: $padding-xsmall 0;
      font: $primary-font;
      font-size: 2rem;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      color: $main-white;
      overflow-y: hidden;

      span {
        overflow-y: hidden;
        margin-left: 1rem;
        color: $main-yellow-bright;
      }
    }

    .date {
      overflow-y: hidden;
      width: 100%;
      padding: $padding-xsmall 0;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      font-size: $font-size-default;
      font-family: $tertiary-font;
      color: $main-grey;
    }

    .list {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: flex-start;
      gap: 0.5rem;

      &__element {
        padding: $padding-xsmall;
        font-family: $secondary-font;
        font-size: $font-size-default;
        color: $main-grey;
        list-style-type: circle;
        list-style-position: inside;

        &::marker {
          color: $main-yellow-bright;
        }
      }
    }
  }

  @media screen and (max-width: 768px) {
    &__contents {
      .title {
        font-size: $font-size-default;
      }

      .date {
        font-size: $font-size-medium;
      }

      .list {
        overflow-y: auto;
        &__element {
          font-size: $font-size-medium;
        }
      }
    }
  }
}
