@import '../../../../sass/main';

.back-to-top {
  @include flex-center;

  position: fixed;
  bottom: 5rem;
  right: 10rem;
  width: 5rem;
  height: 5rem;
  border: 0.1rem solid $main-yellow-bright;
  border-radius: $size-xsmall;
  color: $main-white;
  transition: all 250ms ease-in-out;

  svg {
    transition: all 250ms ease-in-out;
  }

  &:hover {
    cursor: pointer;
    color: $main-yellow-bright;
    background-color: rgba($main-yellow-bright, 0.1);

    svg {
      transform: scale(1.1);
    }
  }

  @media screen and (max-width: 768px) {
    bottom: $size-default * 4;
    right: $size-default;
  }
}
