@import '../../../../sass/main';

.image-container {
  width: $size-default * 10;
  height: $size-default * 10;
  border-radius: 0.4rem;

  app-image-block {
    width: 100%;
    height: 100%;
    figure {
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}
