<article [ngClass]="class" [id]="id">
  <div class="content-title-container">
    <span class="title-span-text" *ngIf="span.display">{{ span.text }}</span>
    <h2 class="title" *ngIf="title.display">{{ title.text }}</h2>
    <h3 class="subtitle" *ngIf="subtitle.display">{{ subtitle.text }}</h3>
    <div class="decorative-title-container" *ngIf="decorative">
      <span class="title-span-line"></span>
    </div>
  </div>
  <p
    class="content-text-container"
    *ngIf="paragraph.display"
    [innerHTML]="paragraph.text"></p>
  <app-button
    *ngIf="button.display"
    [label]="button.text"
    [href]="button.href"></app-button>

  <ng-content select="[additional-content]"></ng-content>
</article>
