<main>
  <app-content
    *ngFor="let content of contents"
    [ngClass]="content.class"
    [id]="content.id"
    [span]="content.span"
    [title]="content.title"
    [subtitle]="content.subtitle"
    [decorative]="content.decorative"
    [paragraph]="content.paragraph"
    [button]="content.button">
    <section additional-content class="additional-content-container">
      <div class="about-additional-content" *ngIf="content.id === 'about'">
        <ul *ngFor="let item of languages">
          <li *ngFor="let language of item">{{ language }}</li>
        </ul>
      </div>
    </section>
  </app-content>

  <app-email-block></app-email-block>
  <app-socials-block></app-socials-block>
  <app-back-to-top></app-back-to-top>
</main>
