@import '../utils/sizes';
@import '../utils/variables';

.header {
  z-index: 9999;
  position: fixed;
  width: 100%;
  height: auto;
  padding: $padding-default;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
