@import '../utils/sizes';
@import '../utils/variables';

.header {
  z-index: 9999;
  position: fixed;
  width: 100%;
  height: auto;
  padding: $padding-default;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  transition: all 400ms ease-in-out;

  &--scrolledBottom {
    transform: translateX(100%);
  }

  &--scrolledTop {
    backdrop-filter: blur(10px);
    box-shadow: rgba(0, 0, 0, 0.22) 0px 15px 12px;
  }

  @media screen and (min-width: 768px) {
    background-color: $main-dark-charcoal;
  }
}
