@import '../utils/sizes';
@import '../utils/variables';
@import '../base/typography';

main {
  width: 100%;
  min-height: 100vh;
  padding: 0 $padding-big;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  .content {
    width: 70vw;
    height: 100vh;
    padding: $padding-big;

    article {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 3rem;

      p {
        letter-spacing: 0.1rem;
      }
    }

    @media screen and (max-width: 768px) {
      width: 100vw;
      height: 100vh;
    }
  }

  .introduction {
    article {
      span {
        font-family: $tertiary-font;
        font-size: 1.5rem;
        color: $main-yellow-bright;
      }

      h1 {
        font-family: $primary-font;
        font-size: 7rem;
      }

      p {
        font-family: $secondary-font;
        font-size: 1.8rem;
        color: lightgrey;
        line-height: 2.2rem;
      }
    }

    @media screen and (max-width: 768px) {
      article {
        span {
          font-size: 1.2rem;
        }

        h1 {
          font-size: 4rem;
        }

        p {
          font-size: 1.5rem;
        }
      }
    }
  }

  .about {
    background-color: red;
  }

  .contact {
    background-color: green;
  }
}
